@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;600;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;


}

body {

  color: #243e63;
}

nav {
  display: flex;
}

img {
  width: 100%;
  height: 100%;
  max-height: 50vh;

}

a {
  text-decoration: none;
  color: black;

}

ul {
  display: flex;
}

li {
  list-style-type: none;
}

button {
  text-decoration: none;
  border: none;
  color: #f7fafc;
  width: 100%;
}

input {
  width: 100%;
  border-radius: 9999px;
  padding-left: 2rem;
  font-weight: 500;
  font-size: 16px;
  border: 2px solid rgb(226, 232, 240);
  color: rgb(160 174 192 / 0.3)
}


#landing-page {
  padding-top: 2rem;
  min-height: 100px;
  color: rgb(36 62 99 / 1);
}

.nav__logo--title {
  font-size: 1.5rem;
  margin-left: 10px;
  font-weight: bold;
}

.nav__logo--title:hover {
  color: rgb(100 21 255);
}

.nav__logo {
  display: flex;
  align-items: center;
}

.nav__logo--img {
  margin: 0.75;
  width: 2.5rem;
}

.nav__container {
  width: 100%;
  max-width: 1300px;
  padding: 0 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.nav__link--auth {
  display: flex;
}

.nav__link,
.nav__link--auth {
  margin: 0px 1.5rem;
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 0.025em;
  cursor: pointer;
  color: #243e63;
}

.purple {
  background-color: #6415ff;
  padding: 12px 32px;
  border-radius: 9999px;
  color: #fff;
  text-align: center;
  width: 25%;
}

.row {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
}

/* header */
.header__container {
  padding: 96px 24px;
}

.header__wrapper {
  display: flex;
  flex-direction: row;

}

.header__wrapper--left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 40%;
}

.header__description--title {
  font-size: 48px;
  letter-spacing: 0.025;
}

.header__description--text {
  margin: 32px 0;
  font-size: 1.125rem;
}

.purple__text {
  color: #6415ff;
}

.header__wrapper--right {
  width: 60%;
}

.header__email {
  width: 100%;
  max-width: 28rem;
  position: relative;
  text-align: center;
  border-radius: 9999px;



}

.header__email--button {
  position: absolute;
  padding: 16px 0;
  margin: 8px 8px 8px 0;
  width: 10rem;
  line-height: 1;
  right: 0px;
  top: 0px;
  bottom: 0px;
  display: flex;
  font-weight: 700;
  align-items: center;
  justify-content: center;
  border-radius: 9999px;
  background-color: rgb(100 21 255 / 1);
}

.header__email--text {
  padding: 20px 192px 20px 32px;

}

.header__sponser {
  margin-top: 80px;
}

.header__description--sponser-text {
  font-size: 0.875rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.05rem;
  color: rgb(160 174 192 / 1)
}

.header__sponser--img {
  padding-right: 8rem;
  margin-top: 1rem;
  width: 100%;
  opacity: 0.5;
  object-fit: contain;

}

.header__wrapper-img {
  max-width: 48rem;
}

/* features */
.container {
  padding: 80px 24px;


}

h5 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: rgb(100, 21, 255);
  font-size: 16px;
  margin-bottom: 16px;
}

.services__description {
  display: flex;
  margin: 0 auto;

  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

}

.services__description--title {
  font-size: 52px;
  font-weight: 900;
  letter-spacing: 1.2px;

}

.services__description--para {
  font-size: 20px;
  margin-top: 16px;
  max-width: 576px;
  margin-bottom: 40px;
  font-weight: 500;
  line-height: 1.625;
  color: rgb(124 139 161);
}

.services {
  display: flex;
  flex-wrap: wrap;
  max-width: 1024px;
  margin: 0 auto;
}

.service {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  text-align: left;
  width: calc(100%/3);
  padding: 32px 8px;

}

.services__img--container {
  display: flex;
  flex-shrink: 0;
  border-radius: 9999px;
  border: 1px solid rgb(226, 232, 240);
  padding: 20px;
}

.service__textContatiner {
  display: flex;
  flex-direction: column;
  margin: 8px 0 0 16px;
}

.service__textContatiner--title {
  font-size: 24px;
}

.service__textContainer--para {
  max-width: 200px;

  margin-top: 16px;
  font-weight: 500;
  line-height: 2;
  color: rgb(124 139 161);
}

/* quality work */
.content__wrapper {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

.content__wrapper--left {
  width: 50%;
  padding: 32px 0;
  display: flex;
  flex-direction: column;


}

.content__wrapper--left .services__description--title {
  margin-top: 16px;
}


.content__wrapper--right {

  display: flex;
  flex-direction: column;
  width: 50%;
}

.content__img {
  border: 1px solid rgb(226, 232, 240);
  border-radius: 0.25rem;

}

/* steps */
#steps .content__img,
#values .content__img {
  display: flex;
  border: none;
}

#steps .content__wrapper {
  align-items: flex-start;
}

#steps .content__wrapper--right {

  margin-left: 48px;

}



.steps__lists {
  display: flex;
  flex-direction: column;
  margin-top: 32px;
}

.steps__list {
  width: 100%;
  display: flex;
  align-items: flex-start;
  margin-top: 32px;

}

.steps__list--order {
  font-size: 2.25rem;
  font-weight: 600;
  line-height: 1;
  color: rgb(203 213 224);

}

.steps__list--text {
  margin-left: 1.5rem;
}

.steps__list--title {
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1;
}

.steps__list--para {
  margin-top: 0.75rem;
  max-width: 20rem;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 2;

  color: rgb(113 128 150/ 1);
}

/* values */
#values .services__description--para {
  margin-bottom: 0;
}

.values {
  display: flex;
  flex-direction: row;

}

.values__content {
  margin-top: 32px;
  margin-right: 32px;
}

.circle {
  padding: 8px 12px;
  text-align: center;
  border-radius: 9999px;
}

.green {
  background-color: #9ae6b4;
  color: green;
}

.red {
  padding: 8px 8px;
  background-color: #feb2b2;
  color: rgb(150, 42, 42);
}

.values__content--title {
  margin-left: 12px;
  font-size: 1.25rem;
  font-weight: 700;
}

.values__content--para {
  margin-top: 1rem;
  line-height: 1.625;
  color: rgb(113 128 150);
}

#values .purple {
  margin-top: 48px;

}

/* pricing  */
.plans {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.plan {
  position: relative;
  width: 100%;
  max-width: 24rem;
  display: flex;
  flex-direction: column;
  --tw-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  --tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color), 0 1px 2px 0 var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  border-radius: 0.5rem;
}

.highlight {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  height: 0.5rem;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  background: linear-gradient(115deg, rgb(56, 178, 172) 0%, rgb(129, 230, 217) 100%);

}



.plan__top {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 32px;
  text-transform: uppercase;
  line-height: 1.625;


}

.plan__top--name {
  font-size: 1.25rem;
  font-weight: 700;
}

.plan__top--price {
  font-size: 3rem;
  margin: 4px 0;
  font-weight: 700;

}

.plan__top--duration {
  font-weight: 700;
  letter-spacing: 0.1em;

}

.plan__middle {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 32px;
  border-width: 0px;
  border-style: solid;
  border-top-width: 2px;
  border-bottom-width: 2px;
  border-color: rgb(226, 232, 240);


}

.plan__middle--featureTitle {
  font-size: 1.25rem;
  font-weight: 700;
  letter-spacing: 0.025em;
}

.plan__middle--feature {

  margin-top: 1.25rem;
  font-weight: 500;
}

.gray {
  color: rgb(113 128 150);
}

.plan__bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 32px;
  text-transform: uppercase;

}

.btn {
  width: 50%;
  border-radius: 9999px;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: 0.875rem;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

.bluegreen {
  background: linear-gradient(115deg, rgb(56, 178, 172) 0%, rgb(129, 230, 217) 100%);
}

.whiteish {
  background-color: rgb(247 250 252);
  color: #6415FF;
}

.redish {
  background: linear-gradient(115deg, rgb(245, 101, 101) 0%, rgb(254, 178, 178) 100%);
}

.purple__plan {
  background: #6415FF;
  color: #fff;

}

/* footer */
footer {
  background-color: rgb(100 21 255);
  color: #fff;

}



.links {
  display: flex;
  flex-wrap: wrap;

}

.link {
  display: flex;
  flex-direction: column;
  width: calc(100%/ 5);
  align-items: center;


}


.link__list {

  color: #fff;
  margin-top: 12px;
  font-size: 14px;


}

.link__title {
  font-size: 16px;
  margin-bottom: 12px;
  text-transform: uppercase;
  font-weight: 700;

}

hr {
  margin-top: 4rem;
  margin-bottom: 4rem;
  width: 100%;
  border-bottom-width: 2px;
  --tw-border-opacity: 1;
  border-color: rgb(116 44 255 / var(--tw-border-opacity));
}

.footer__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__logo {
  display: flex;
  align-items: center;
}

.footer__copyright {
  font-size: 16px;
  color: #cbd5e0;
}

.social__logo {
  color: #000;
  background-color: #f7fafc;
  margin-right: 16px;
  cursor: pointer;
  border-radius: 9999px;
  padding: 8px;

}

.social__logo-facebook {
  color: #000;
  background-color: #f7fafc;
  margin-right: 16px;
  cursor: pointer;
  border-radius: 9999px;
  padding: 8px 11px;

}

@media (max-width:1024px) {
  .nav__container {
    padding: 0 24px;
  }

  .header__wrapper {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .header__description--title {
    font-size: 30px;
  }

  .header__wrapper--left {
    align-items: flex-start;
    width: 50%;
  }

  .services__description--title {
    font-size: 36px;
  }

  .services__description--para {
    font-size: 18px;
  }

  .content__wrapper--left {
    max-width: 430px;
  }

  #steps .content__wrapper {
    align-items: center;
  }


  .plans {
    flex-direction: column;
    align-items: center;
  }

  .plan {
    margin-bottom: 80px;
  }

  .values {
    width: 100%;
    max-width: 300px;
    flex-direction: column;
  }

  .service {
    width: calc(100%/2);
  }

  .nav__links {
    display: none;
  }


}

@media (max-width: 768px) {
  .content__wrapper {
    flex-direction: column;
    text-align: center;
  }

  .content__wrapper--left {
    width: 100%;

  }

  #quality-work .content__wrapper,
  #values .content__wrapper {
    flex-direction: column-reverse;
  }

  #quality-work .content__wrapper--left,
  #values .content__wrapper--left {
    margin: 32px 0;
  }

  .content__wrapper--right {
    width: 60%;
  }

  .values {
    margin: 0 auto;

  }
}

@media (max-width: 550px) {
  .service {
    width: 100%;
  }

  .header__wrapper--left {
    width: 100%;
    align-items: center;
  }

  .header__description--text {
    font-size: 16px;
  }
}